apiVersion: apps/v1
kind: Deployment
metadata:
  name: backendapi
spec:
  selector:
    matchLabels:
      app: backendapi
  replicas: 2
  template:
    metadata:
      labels:
        app: backendapi
    spec:
      containers:
        - name: backendapi
          image: ghcr.io/yagnikthanki/backend_api:latest
          ports:
            - containerPort: 8000
      imagePullSecrets:
        - name: image-pull-secret.yaml
